#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.css-n7rtur-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(25 55 126) !important;
}
.main-div{
  margin-top: 8%;
  width:70%;
  border-radius: 12px; /* Rounded borders */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  /* border: 1px solid rgb(25 55 126); */
  /* background-color: purple; */
  padding: 15px 20px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.chat-div{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-end;
  /* background-color: green; */
}

.sender-text{
  width: 60%;
  background: #e1f5fe;
  color: #454444;
  padding: 10px;
  border-radius:10px;
  text-align: left;
}

.input-div{
  width:100%;
  border-radius: 12px; /* Rounded borders */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  border: 1px solid rgb(25 118 210);
  /* background-color: blue; */
  padding: 10px 5px; /* Optional: for some internal spacing */
  display: flex; /* To align the input inside */
  justify-content: space-evenly; /* Center the input horizontally */
  align-items: center;
}
.input-div .MuiTextField-root {
  width: 90%; /* Text input field takes 70% width of the div */
}

.review-input-div .MuiTextField-root {
  width: 85%; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

